@use './base';
.header{
    height: 6rem;
    &__button{
        &-pr{
            background-color: $primary_color;
            color: $secondary_color;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
.hero{
    padding-bottom: 96px;
    &__left{
        &-first{
            p{
                font-size: 1.125rem;
                font-weight: 600;
            }
        }
        &-final{
            .btn-first{
                background-color: $primary_color;
                color: $secondary_color;

            }
            .btn-second{
                background-color: #DBEAFE;
                backdrop-filter: blur(5px);
                color: $primary_color;
            }
        }
    }
    h1{
        font-size: 3.75rem;
        margin: 10px 0px;
    }
    p{
        font-size: 1.25rem;
    }
    &__right{
        img{
            width: 100%;
        }
    }
}
